<h1>Listing appointments</h1>

<table>
  <tr>
    <th>Appointment date</th>
    <th>Instructor</th>
    <th>Applicant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
    <td><%= appointment.appointment_date %></td>
    <td><%= appointment.instructor.name %></td>
    <td><%= appointment.applicant.name%></td>
    <td></td>
    <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
    <td><%= link_to 'Cancel', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Schedule New Appointment', new_appointment_path %>
<%= link_to "Add Applicant", new_applicant_path %>
<%= link_to "Add Instructor", new_instructor_path %>
